In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [6]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

temperature = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) == 6).all()
june_temp = {date: tobs for date, tobs in temperature}

{'2010-06-01': 70.0,
 '2010-06-02': 78.0,
 '2010-06-03': 73.0,
 '2010-06-04': 68.0,
 '2010-06-05': 79.0,
 '2010-06-06': 74.0,
 '2010-06-07': 75.0,
 '2010-06-08': 71.0,
 '2010-06-09': 75.0,
 '2010-06-10': 75.0,
 '2010-06-11': 75.0,
 '2010-06-12': 78.0,
 '2010-06-13': 77.0,
 '2010-06-14': 76.0,
 '2010-06-15': 76.0,
 '2010-06-16': 73.0,
 '2010-06-17': 73.0,
 '2010-06-18': 72.0,
 '2010-06-19': 74.0,
 '2010-06-20': 85.0,
 '2010-06-21': 77.0,
 '2010-06-22': 72.0,
 '2010-06-23': 72.0,
 '2010-06-24': 72.0,
 '2010-06-25': 70.0,
 '2010-06-26': 69.0,
 '2010-06-27': 73.0,
 '2010-06-28': 71.0,
 '2010-06-29': 73.0,
 '2010-06-30': 72.0,
 '2011-06-01': 69.0,
 '2011-06-02': 72.0,
 '2011-06-03': 66.0,
 '2011-06-04': 67.0,
 '2011-06-05': 71.0,
 '2011-06-06': 71.0,
 '2011-06-07': 72.0,
 '2011-06-08': 72.0,
 '2011-06-09': 71.0,
 '2011-06-10': 71.0,
 '2011-06-11': 71.0,
 '2011-06-12': 69.0,
 '2011-06-13': 68.0,
 '2011-06-14': 71.0,
 '2011-06-15': 73.0,
 '2011-06-17': 74.0,
 '2011-06-18': 70.0,
 '2011-06-19': 72.0,
 '2011-06-20': 71.0,
 '2011-06-21': 71.0,
 '2011-06-24': 69.0,
 '2011-06-25': 74.0,
 '2011-06-26': 69.0,
 '2011-06-27': 72.0,
 '2011-06-28': 70.0,
 '2011-06-29': 72.0,
 '2012-06-01': 69.0,
 '2012-06-02': 73.0,
 '2012-06-03': 71.0,
 '2012-06-04': 72.0,
 '2012-06-05': 71.0,
 '2012-06-06': 72.0,
 '2012-06-07': 71.0,
 '2012-06-08': 74.0,
 '2012-06-09': 74.0,
 '2012-06-10': 75.0,
 '2012-06-11': 69.0,
 '2012-06-12': 75.0,
 '2012-06-13': 70.0,
 '2012-06-14': 73.0,
 '2012-06-15': 72.0,
 '2012-06-16': 70.0,
 '2012-06-17': 73.0,
 '2012-06-18': 71.0,
 '2012-06-19': 70.0,
 '2012-06-20': 69.0,
 '2012-06-21': 71.0,
 '2012-06-22': 71.0,
 '2012-06-23': 68.0,
 '2012-06-24': 68.0,
 '2012-06-25': 68.0,
 '2012-06-26': 69.0,
 '2012-06-27': 69.0,
 '2012-06-28': 69.0,
 '2012-06-29': 71.0,
 '2012-06-30': 79.0,
 '2013-06-01': 78.0,
 '2013-06-02': 72.0,
 '2013-06-03': 73.0,
 '2013-06-04': 71.0,
 '2013-06-05': 72.0,
 '2013-06-06': 72.0,
 '2013-06-07': 71.0,
 '2013-06-08': 74.0,
 '2013-06-09': 71.0,
 '2013-06-10': 72.0,
 '2013-06-11': 72.0,
 '2013-06-12': 74.0,
 '2013-06-13': 72.0,
 '2013-06-14': 69.0,
 '2013-06-15': 70.0,
 '2013-06-16': 76.0,
 '2013-06-17': 70.0,
 '2013-06-18': 71.0,
 '2013-06-19': 73.0,
 '2013-06-20': 68.0,
 '2013-06-21': 68.0,
 '2013-06-22': 69.0,
 '2013-06-23': 70.0,
 '2013-06-24': 69.0,
 '2013-06-25': 69.0,
 '2013-06-26': 70.0,
 '2013-06-27': 71.0,
 '2013-06-28': 70.0,
 '2013-06-29': 67.0,
 '2013-06-30': 72.0,
 '2014-06-01': 72.0,
 '2014-06-02': 75.0,
 '2014-06-03': 73.0,
 '2014-06-04': 73.0,
 '2014-06-05': 72.0,
 '2014-06-06': 71.0,
 '2014-06-07': 77.0,
 '2014-06-08': 73.0,
 '2014-06-09': 70.0,
 '2014-06-10': 70.0,
 '2014-06-11': 76.0,
 '2014-06-12': 72.0,
 '2014-06-13': 73.0,
 '2014-06-14': 77.0,
 '2014-06-15': 73.0,
 '2014-06-16': 70.0,
 '2014-06-17': 68.0,
 '2014-06-18': 69.0,
 '2014-06-19': 70.0,
 '2014-06-20': 70.0,
 '2014-06-21': 73.0,
 '2014-06-22': 70.0,
 '2014-06-23': 69.0,
 '2014-06-24': 71.0,
 '2014-06-25': 70.0,
 '2014-06-26': 70.0,
 '2014-06-27': 72.0,
 '2014-06-28': 71.0,
 '2014-06-29': 70.0,
 '2014-06-30': 69.0,
 '2015-06-01': 69.0,
 '2015-06-02': 72.0,
 '2015-06-03': 72.0,
 '2015-06-04': 71.0,
 '2015-06-05': 76.0,
 '2015-06-06': 71.0,
 '2015-06-07': 72.0,
 '2015-06-08': 70.0,
 '2015-06-09': 72.0,
 '2015-06-10': 72.0,
 '2015-06-11': 69.0,
 '2015-06-12': 71.0,
 '2015-06-13': 72.0,
 '2015-06-14': 69.0,
 '2015-06-15': 70.0,
 '2015-06-16': 73.0,
 '2015-06-17': 70.0,
 '2015-06-18': 72.0,
 '2015-06-19': 72.0,
 '2015-06-20': 71.0,
 '2015-06-21': 73.0,
 '2015-06-22': 72.0,
 '2015-06-23': 73.0,
 '2015-06-24': 72.0,
 '2015-06-25': 71.0,
 '2015-06-26': 70.0,
 '2015-06-27': 75.0,
 '2015-06-28': 72.0,
 '2015-06-29': 70.0,
 '2015-06-30': 72.0,
 '2016-06-01': 70.0,
 '2016-06-02': 71.0,
 '2016-06-03': 70.0,
 '2016-06-04': 65.0,
 '2016-06-05': 73.0,
 '2016-06-06': 72.0,
 '2016-06-07': 71.0,
 '2016-06-08': 71.0,
 '2016-06-09': 69.0,
 '2016-06-10': 70.0,
 '2016-06-11': 73.0,
 '2016-06-12': 75.0,
 '2016-06-13': 73.0,
 '2016-06-14': 72.0,
 '2016-06-15': 70.0,
 '2016-06-16': 70.0,
 '2016-06-17': 69.0,
 '2016-06-18': 73.0,
 '2016-06-19': 74.0,
 '2016-06-20': 72.0,
 '2016-06-21': 71.0,
 '2016-06-22': 73.0,
 '2016-06-23': 72.0,
 '2016-06-24': 76.0,
 '2016-06-25': 73.0,
 '2016-06-26': 74.0,
 '2016-06-27': 72.0,
 '2016-06-28': 74.0,
 '2016-06-29': 72.0,
 '2016-06-30': 77.0,
 '2017-06-01': 74.0,
 '2017-06-02': 76.0,
 '2017-06-03': 74.0,
 '2017-06-04': 77.0,
 '2017-06-05': 74.0,
 '2017-06-06': 74.0,
 '2017-06-07': 79.0,
 '2017-06-08': 75.0,
 '2017-06-09': 72.0,
 '2017-06-10': 72.0,
 '2017-06-11': 76.0,
 '2017-06-12': 74.0,
 '2017-06-13': 73.0,
 '2017-06-14': 74.0,
 '2017-06-15': 77.0,
 '2017-06-16': 74.0,
 '2017-06-17': 72.0,
 '2017-06-18': 77.0,
 '2017-06-19': 76.0,
 '2017-06-20': 74.0,
 '2017-06-21': 75.0,
 '2017-06-22': 76.0,
 '2017-06-23': 71.0,
 '2017-06-24': 73.0,
 '2017-06-25': 79.0,
 '2017-06-26': 79.0,
 '2017-06-27': 74.0,
 '2017-06-28': 74.0,
 '2017-06-29': 76.0,
 '2017-06-30': 75.0,
 '2011-06-16': 72.0,
 '2011-06-22': 70.0,
 '2011-06-23': 70.0,
 '2011-06-30': 72.0}

In [11]:
#  3. Convert the June temperatures to a list.
june_temperatures = june_temp.values()
june_temperatures

dict_values([70.0, 78.0, 73.0, 68.0, 79.0, 74.0, 75.0, 71.0, 75.0, 75.0, 75.0, 78.0, 77.0, 76.0, 76.0, 73.0, 73.0, 72.0, 74.0, 85.0, 77.0, 72.0, 72.0, 72.0, 70.0, 69.0, 73.0, 71.0, 73.0, 72.0, 69.0, 72.0, 66.0, 67.0, 71.0, 71.0, 72.0, 72.0, 71.0, 71.0, 71.0, 69.0, 68.0, 71.0, 73.0, 74.0, 70.0, 72.0, 71.0, 71.0, 69.0, 74.0, 69.0, 72.0, 70.0, 72.0, 69.0, 73.0, 71.0, 72.0, 71.0, 72.0, 71.0, 74.0, 74.0, 75.0, 69.0, 75.0, 70.0, 73.0, 72.0, 70.0, 73.0, 71.0, 70.0, 69.0, 71.0, 71.0, 68.0, 68.0, 68.0, 69.0, 69.0, 69.0, 71.0, 79.0, 78.0, 72.0, 73.0, 71.0, 72.0, 72.0, 71.0, 74.0, 71.0, 72.0, 72.0, 74.0, 72.0, 69.0, 70.0, 76.0, 70.0, 71.0, 73.0, 68.0, 68.0, 69.0, 70.0, 69.0, 69.0, 70.0, 71.0, 70.0, 67.0, 72.0, 72.0, 75.0, 73.0, 73.0, 72.0, 71.0, 77.0, 73.0, 70.0, 70.0, 76.0, 72.0, 73.0, 77.0, 73.0, 70.0, 68.0, 69.0, 70.0, 70.0, 73.0, 70.0, 69.0, 71.0, 70.0, 70.0, 72.0, 71.0, 70.0, 69.0, 69.0, 72.0, 72.0, 71.0, 76.0, 71.0, 72.0, 70.0, 72.0, 72.0, 69.0, 71.0, 72.0, 69.0, 70.0, 73.0, 70.0, 72.0, 72.0, 71.0, 73.0, 72.0, 73.0, 72.0, 71.0, 70.0, 75.0, 72.0, 70.0, 72.0, 70.0, 71.0, 70.0, 65.0, 73.0, 72.0, 71.0, 71.0, 69.0, 70.0, 73.0, 75.0, 73.0, 72.0, 70.0, 70.0, 69.0, 73.0, 74.0, 72.0, 71.0, 73.0, 72.0, 76.0, 73.0, 74.0, 72.0, 74.0, 72.0, 77.0, 74.0, 76.0, 74.0, 77.0, 74.0, 74.0, 79.0, 75.0, 72.0, 72.0, 76.0, 74.0, 73.0, 74.0, 77.0, 74.0, 72.0, 77.0, 76.0, 74.0, 75.0, 76.0, 71.0, 73.0, 79.0, 79.0, 74.0, 74.0, 76.0, 75.0, 72.0, 70.0, 70.0, 72.0])

In [16]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
import pandas as pd

june_temps_df = pd.DataFrame(june_temperatures)
june_temps_df

        0
0    70.0
1    78.0
2    73.0
3    68.0
4    79.0
..    ...
235  75.0
236  72.0
237  70.0
238  70.0
239  72.0

[240 rows x 1 columns]

In [17]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

                0
count  240.000000
mean    72.129167
std      2.706722
min     65.000000
25%     70.000000
50%     72.000000
75%     74.000000
max     85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.